<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Entreprise accueil</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="entreprise/css/acceuil.css"/>
<script id="applicationScript" type="text/javascript" src="entreprise/script/acceuil.js"></script>
</head>
<body>
<div id="acceuil">
	<div id="Kante_Co_es">
		<span>Kante Co</span>
	</div>
	<div id="Composant_5__1" class="Composant_5___1">
		<div id="Acceuil_eu">
			<span>Acceuil</span>
		</div>
		<svg class="Ligne_1_ev" viewBox="0 0 43 1">
			<path id="Ligne_1_ev" d="M 0 0 L 43 0">
			</path>
		</svg>
	</div>
	<div id="Composant_6__1" class="Composant_6___1">
		<div id="Profil_ex">
			<span>Profil</span>
		</div>
		<svg class="Ligne_2_ey" viewBox="0 0 55 1">
			<path id="Ligne_2_ey" d="M 0 0 L 55 0">
			</path>
		</svg>
	</div>
	<div id="Composant_7__1" class="Composant_7___1">
		<div id="Nos_partenaires_e">
			<span>Nos partenaires</span>
		</div>
		<svg class="Ligne_3_e" viewBox="0 0 97 1">
			<path id="Ligne_3_e" d="M 0 0 L 97 0">
			</path>
		</svg>
	</div>
	<div id="Composant_8__1" class="Composant_8___1">
		<div id="Contact_e">
			<span>Contact</span>
		</div>
		<svg class="Ligne_4_e" viewBox="0 0 45 1">
			<path id="Ligne_4_e" d="M 0 0 L 45 0">
			</path>
		</svg>
	</div>
	<div id="Composant_9__1" class="Composant_9___1">
		<div id="Deconnexion_e">
			<span><a href="/visiteur">Deconnexion</a></span>
		</div>
		<svg class="Ligne_5_e" viewBox="0 0 62 1">
			<path id="Ligne_5_e" d="M 0 0 L 62 0">
			</path>
		</svg>
	</div>
	<img id="logo_e" src="entreprise/img/logo_e.png" srcset="entreprise/img/logo_e.png 1x, entreprise/img/logo_e@2x.png 2x">
		
	<div onclick="application.goToTargetView(event)" id="Composant_14__1" class="Composant_14___1">
		<svg class="Rectangle_3_fa">
			<rect id="Rectangle_3_fa" rx="0" ry="0" x="0" y="0" width="197" height="275">
			</rect>
		</svg>
		<img id="Stages_Trouver-un-stage" src="entreprise/img/Stages_Trouver-un-stage.png" srcset="entreprise/img/Stages_Trouver-un-stage.png 1x, entreprise/img/Stages_Trouver-un-stage@2x.png 2x">
			
		<div id="Stages">
			<span>Stages</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Composant_18__1" class="Composant_18___1">
		<svg class="Rectangle_3_fe">
			<rect id="Rectangle_3_fe" rx="0" ry="0" x="0" y="0" width="189" height="275">
			</rect>
		</svg>
		<img id="bank-gf9c934770_1280_ff" src="entreprise/img/bank-gf9c934770_1280_ff.png" srcset="entreprise/img/bank-gf9c934770_1280_ff.png 1x, entreprise/img/bank-gf9c934770_1280_ff@2x.png 2x">
			
		<div id="Universit_partenaire">
			<span>Université partenaire</span>
		</div>
	</div>
</div>
</body>
</html>