<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>finalisation profil</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/finalisation_profil.css"/>
<script id="applicationScript" type="text/javascript" src="script/finalisation_profil.js"></script>
</head>
<body>
<div id="finalisation_profil">
	<div id="Kante_Co_dq">
		<span>Kante Co</span>
	</div>
	<img id="logo_dr" src="img/logo_dr.png" srcset="img/logo_dr.png 1x, img/logo_dr@2x.png 2x">
		
	<div id="Finalisez_votre_profil_dentrep">
		<span>Finalisez votre profil d'entreprise</span>
	</div>
	<svg class="Trac_1" viewBox="-143.029 0 817.029 1080">
		<path id="Trac_1" d="M 0 0 L 674 0 L 674 1080 L -142.69970703125 1080 C -142.69970703125 1080 -157.68994140625 951.0052490234375 14.69775390625 690.5499267578125 C 63.416015625 600.6085205078125 674 0 0 0 Z">
		</path>
	</svg>
	<svg class="Rectangle_27">
		<rect onclick="application.goToTargetView(event)" id="Rectangle_27" rx="29" ry="29" x="0" y="0" width="200" height="58">
		</rect>
	</svg>
	<div id="Terminer">
		<span>Terminer</span>
	</div>
	<div id="Composant_11__1" class="Composant_11___1">
		<div id="Groupe_9">
			<svg class="Rectangle_9">
				<rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="102" height="40">
				</rect>
			</svg>
			<div id="n___________TYPE">
				<span>           TYPE</span>
			</div>
			<svg class="Rectangle_10">
				<rect id="Rectangle_10" rx="21" ry="21" x="0" y="0" width="438" height="129">
				</rect>
			</svg>
			<svg class="Rectangle_11">
				<rect id="Rectangle_11" rx="24" ry="24" x="0" y="0" width="127" height="48">
				</rect>
			</svg>
			<div id="Ajouter_une_comptence_">
				<span>Ajouter une compétence ...</span>
			</div>
			<div id="Ajouter">
				<span>Ajouter</span>
			</div>
		</div>
		<img id="plus-ged4284968_1280" src="img/plus-ged4284968_1280.png" srcset="img/plus-ged4284968_1280.png 1x, img/plus-ged4284968_1280@2x.png 2x">
			
	</div>
	<div id="Composant_11__2" class="Composant_11___2">
		<div id="Groupe_9_d">
			<svg class="Rectangle_9_d">
				<rect id="Rectangle_9_d" rx="0" ry="0" x="0" y="0" width="102" height="40">
				</rect>
			</svg>
			<div id="SPECIALITES">
				<span>SPECIALITES</span>
			</div>
			<svg class="Rectangle_10_d">
				<rect id="Rectangle_10_d" rx="21" ry="21" x="0" y="0" width="438" height="129">
				</rect>
			</svg>
			<svg class="Rectangle_11_ea">
				<rect id="Rectangle_11_ea" rx="24" ry="24" x="0" y="0" width="127" height="48">
				</rect>
			</svg>
			<div id="Ajouter_une_comptence__eb">
				<span>Ajouter une compétence ...</span>
			</div>
			<div id="Ajouter_ec">
				<span>Ajouter</span>
			</div>
		</div>
		<img id="plus-ged4284968_1280_ed" src="img/plus-ged4284968_1280_ed.png" srcset="img/plus-ged4284968_1280_ed.png 1x, img/plus-ged4284968_1280_ed@2x.png 2x">
			
	</div>
	<div id="Composant_11__3" class="Composant_11___3">
		<div id="Groupe_9_ef">
			<svg class="Rectangle_9_eg">
				<rect id="Rectangle_9_eg" rx="0" ry="0" x="0" y="0" width="102" height="40">
				</rect>
			</svg>
			<div id="AUTRES">
				<span>AUTRES</span>
			</div>
			<svg class="Rectangle_10_ei">
				<rect id="Rectangle_10_ei" rx="21" ry="21" x="0" y="0" width="438" height="129">
				</rect>
			</svg>
			<svg class="Rectangle_11_ej">
				<rect id="Rectangle_11_ej" rx="24" ry="24" x="0" y="0" width="127" height="48">
				</rect>
			</svg>
			<div id="Ajouter_une_comptence__ek">
				<span>Ajouter une compétence ...</span>
			</div>
			<div id="Ajouter_el">
				<span>Ajouter</span>
			</div>
		</div>
		<img id="plus-ged4284968_1280_em" src="img/plus-ged4284968_1280_em.png" srcset="img/plus-ged4284968_1280_em.png 1x, img/plus-ged4284968_1280_em@2x.png 2x">
			
	</div>
	<svg class="Ellipse_1">
		<ellipse id="Ellipse_1" rx="52" ry="47" cx="52" cy="47">
		</ellipse>
	</svg>
	<div id="Ajouter_une_photo">
		<span>Ajouter une photo</span>
	</div>
	<img id="camera-gd13c12778_1280" src="img/camera-gd13c12778_1280.png" srcset="img/camera-gd13c12778_1280.png 1x, img/camera-gd13c12778_1280@2x.png 2x">
		
</div>
</body>
</html>