<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>inscription</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/inscription.css"/>
<script id="applicationScript" type="text/javascript" src="script/inscription.js"></script>
</head>
<body>
<div id="inscription">
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="71" ry="71" x="0" y="0" width="742" height="977">
		</rect>
	</svg>
	<div id="Inscription_c">
		<span>Inscription</span>
	</div>
	<div id="entreprise">
		<span>entreprise</span>
	</div>
	<div id="Groupe_1">
		<svg class="Rectangle_6">
			<rect id="Rectangle_6" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Nom">
			<span>Nom</span>
		</div>
	</div>
	<div id="Groupe_2">
		<svg class="Rectangle_6_c">
			<rect id="Rectangle_6_c" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Siege">
			<span>Siege</span>
		</div>
	</div>
	<div id="Groupe_5">
		<svg class="Rectangle_6_da">
			<rect id="Rectangle_6_da" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Telephone">
			<span>Telephone</span>
		</div>
	</div>
	<div id="Groupe_6">
		<svg class="Rectangle_6_dc">
			<rect id="Rectangle_6_dc" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Mail">
			<span>Mail</span>
		</div>
	</div>
	<div id="Groupe_7">
		<svg class="Rectangle_6_df">
			<rect id="Rectangle_6_df" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Mot_de_passe">
			<span>Mot de passe</span>
		</div>
	</div>
	<div id="Groupe_8">
		<svg class="Rectangle_6_di">
			<rect id="Rectangle_6_di" rx="15" ry="15" x="0" y="0" width="594" height="60">
			</rect>
		</svg>
		<div id="Confirmer_mot_de_passe">
			<span>Confirmer mot de passe</span>
		</div>
	</div>
	<svg class="Rectangle_8">
		<rect onclick="application.goToTargetView(event)" id="Rectangle_8" rx="34.5" ry="34.5" x="0" y="0" width="219" height="69">
		</rect>
	</svg>
	<div id="Confirmer">
		<span>Confirmer</span>
	</div>
	<div id="Kante_Co_dm">
		<span>Kante Co</span>
	</div>
	<img id="logo_dn" src="img/logo_dn.png" srcset="img/logo_dn.png 1x, img/logo_dn@2x.png 2x">
		
</div>
</body>
</html>