<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/Login.css"/>
<script id="applicationScript" type="text/javascript" src="script/Login.js"></script>
</head>
<body>
<div id="Login">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="75" ry="75" x="0" y="0" width="575" height="916">
		</rect>
	</svg>
	<div id="Kante_Co_ce">
		<span>Kante Co</span>
	</div>
	<img id="logo_cf" src="img/logo_cf.png" srcset="img/logo_cf.png 1x, img/logo_cf@2x.png 2x">
		
	<div id="Login_cg">
		<span>Login</span>
	</div>
	<svg class="Rectangle_2">
		<rect id="Rectangle_2" rx="37" ry="37" x="0" y="0" width="459" height="74">
		</rect>
	</svg>
	<svg class="Rectangle_3">
		<rect id="Rectangle_3" rx="37" ry="37" x="0" y="0" width="459" height="74">
		</rect>
	</svg>
	<svg class="Rectangle_4">
		<rect id="Rectangle_4" rx="34.5" ry="34.5" x="0" y="0" width="219" height="69">
		</rect>
	</svg>
	<div id="id">
		<span>id</span>
	</div>
	<div id="mot_de_passe">
		<span>mot de passe</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Se_connecter">
		<span>Se connecter</span>
	</div>
	<div id="Composant_10__1" class="Composant_10___1">
		<div id="Inscription_">
			<span>Inscription </span>
		</div>
		<svg class="Ligne_6" viewBox="0 0 168 1">
			<path id="Ligne_6" d="M 0 0 L 168 0">
			</path>
		</svg>
		<svg class="Ligne_7" viewBox="0 0 168 1">
			<path id="Ligne_7" d="M 0 0 L 168 0">
			</path>
		</svg>
	</div>
	<img onclick="application.goToTargetView(event)" id="bank-gf9c934770_1280" src="img/bank-gf9c934770_1280.png" srcset="img/bank-gf9c934770_1280.png 1x, img/bank-gf9c934770_1280@2x.png 2x">
		
	<img id="dual-screen-ga03fc425e_1280" src="img/dual-screen-ga03fc425e_1280.png" srcset="img/dual-screen-ga03fc425e_1280.png 1x, img/dual-screen-ga03fc425e_1280@2x.png 2x">
		
	<div id="ou">
		<span>ou</span>
	</div>
	<div id="Entreprise">
		<span>Entreprise</span>
	</div>
	<div id="Developpeur">
		<span>Developpeur</span>
	</div>
</div>
</body>
</html>