<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1920 – 1</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/Web_1920___1.css"/>
<script id="applicationScript" type="text/javascript" src="script/Web_1920___1.js"></script>
</head>
<body>
<div id="Web_1920__1">
	<div id="Kante_Co">
		<span>Kante Co</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Composant_5__3" class="Composant_5___3">
		<div id="Acceuil">
			<span>Acceuil</span>
		</div>
		<svg class="Ligne_1" viewBox="0 0 43 1">
			<path id="Ligne_1" d="M 0 0 L 43 0">
			</path>
		</svg>
	</div>
	<div id="Composant_6__3" class="Composant_6___3">
		<div id="Profil">
			<span>Profil</span>
		</div>
		<svg class="Ligne_2" viewBox="0 0 55 1">
			<path id="Ligne_2" d="M 0 0 L 55 0">
			</path>
		</svg>
	</div>
	<div id="Composant_7__3" class="Composant_7___3">
		<div id="Nos_partenaires">
			<span>Nos partenaires</span>
		</div>
		<svg class="Ligne_3" viewBox="0 0 97 1">
			<path id="Ligne_3" d="M 0 0 L 97 0">
			</path>
		</svg>
	</div>
	<div id="Composant_8__3" class="Composant_8___3">
		<div id="Contact">
			<span>Contact</span>
		</div>
		<svg class="Ligne_4" viewBox="0 0 45 1">
			<path id="Ligne_4" d="M 0 0 L 45 0">
			</path>
		</svg>
	</div>
	<div id="Composant_9__3" class="Composant_9___3">
		<div id="Deconnexion">
			<span>Deconnexion</span>
		</div>
		<svg class="Ligne_5" viewBox="0 0 62 1">
			<path id="Ligne_5" d="M 0 0 L 62 0">
			</path>
		</svg>
	</div>
	<img id="logo" src="img/logo.png" srcset="img/logo.png 1x, img/logo@2x.png 2x">
		
	<svg class="Rectangle_24">
		<rect id="Rectangle_24" rx="8" ry="8" x="0" y="0" width="148" height="27">
		</rect>
	</svg>
	<div id="Langage_utilis">
		<span>Langage utilisé</span>
	</div>
	<svg class="Ligne_8" viewBox="0 0 4 9.5">
		<path id="Ligne_8" d="M 0 0 L 4 9.5">
		</path>
	</svg>
	<svg class="Ligne_12" viewBox="0 0 4 9.5">
		<path id="Ligne_12" d="M 4 0 L 0 9.5">
		</path>
	</svg>
	<svg class="Rectangle_31">
		<rect id="Rectangle_31" rx="19" ry="19" x="0" y="0" width="281" height="75">
		</rect>
	</svg>
	<div id="Que_recherchez_vous_">
		<span>Que recherchez vous ?</span>
	</div>
	<svg class="Rectangle_32">
		<rect id="Rectangle_32" rx="16" ry="16" x="0" y="0" width="81" height="58">
		</rect>
	</svg>
	<div id="PUBLIER">
		<span>PUBLIER</span>
	</div>
	<div id="Crez_votre_offre_de_stage_">
		<span>Créez votre offre de stage</span><br/>
	</div>
	<svg class="Ligne_13" viewBox="0 0 1827 3">
		<path id="Ligne_13" d="M 0 0 L 1827 0">
		</path>
	</svg>
	<div id="Grille_de_rptition_4">
		<div id="Group" class="">
			<div id="Grille_de_rptition_3">
				<div id="Group_bg" class="">
					<svg class="Rectangle_33">
						<rect id="Rectangle_33" rx="63" ry="63" x="0" y="0" width="458" height="466">
						</rect>
					</svg>
				</div>
			</div>
			<svg class="Rectangle_34">
				<rect id="Rectangle_34" rx="22" ry="22" x="0" y="0" width="123" height="44">
				</rect>
			</svg>
			<div id="Stage">
				<span>Stage</span>
			</div>
			<div id="Description_du_stage">
				<span>Description du stage</span>
			</div>
			<div onclick="application.goToTargetView(event)" id="Voir_les_postulants">
				<span>Voir les postulants</span>
			</div>
		</div>
		<div id="Group_bm" class="">
			<div id="Grille_de_rptition_3_bn">
				<div id="Group_bo" class="">
					<svg class="Rectangle_33_bp">
						<rect id="Rectangle_33_bp" rx="63" ry="63" x="0" y="0" width="458" height="466">
						</rect>
					</svg>
				</div>
			</div>
			<svg class="Rectangle_34_bq">
				<rect id="Rectangle_34_bq" rx="22" ry="22" x="0" y="0" width="123" height="44">
				</rect>
			</svg>
			<div id="Stage_br">
				<span>Stage</span>
			</div>
			<div id="Description_du_stage_bs">
				<span>Description du stage</span>
			</div>
			<div id="Voir_les_postulants_bt">
				<span>Voir les postulants</span>
			</div>
		</div>
		<div id="Group_bu" class="">
			<div id="Grille_de_rptition_3_bv">
				<div id="Group_bw" class="">
					<svg class="Rectangle_33_bx">
						<rect id="Rectangle_33_bx" rx="63" ry="63" x="0" y="0" width="458" height="466">
						</rect>
					</svg>
				</div>
			</div>
			<svg class="Rectangle_34_by">
				<rect id="Rectangle_34_by" rx="22" ry="22" x="0" y="0" width="123" height="44">
				</rect>
			</svg>
			<div id="Stage_bz">
				<span>Stage</span>
			</div>
			<div id="Description_du_stage_b">
				<span>Description du stage</span>
			</div>
			<div id="Voir_les_postulants_b">
				<span>Voir les postulants</span>
			</div>
		</div>
		<div id="Group_b" class="">
			<div id="Grille_de_rptition_3_b">
				<div id="Group_ca" class="">
					<svg class="Rectangle_33_b">
						<rect id="Rectangle_33_b" rx="63" ry="63" x="0" y="0" width="458" height="466">
						</rect>
					</svg>
				</div>
			</div>
			<svg class="Rectangle_34_b">
				<rect id="Rectangle_34_b" rx="22" ry="22" x="0" y="0" width="123" height="44">
				</rect>
			</svg>
			<div id="Stage_b">
				<span>Stage</span>
			</div>
			<div id="Description_du_stage_ca">
				<span>Description du stage</span>
			</div>
			<div id="Voir_les_postulants_ca">
				<span>Voir les postulants</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>