<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1920 – 14</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="css/Web_1920___14.css"/>
<script id="applicationScript" type="text/javascript" src="script/Web_1920___14.js"></script>
</head>
<body>
<div id="Web_1920__14">
	<div id="Nos_universits">
		<span>"Nos universités"</span>
	</div>
	<div id="Grille_de_rptition_1">
		<div id="Group_fl" class="">
			<svg class="Rectangle_24_fm">
				<rect id="Rectangle_24_fm" rx="8" ry="8" x="0" y="0" width="148" height="27">
				</rect>
			</svg>
		</div>
		<div id="Group_fn" class="">
			<svg class="Rectangle_24_fo">
				<rect id="Rectangle_24_fo" rx="8" ry="8" x="0" y="0" width="148" height="27">
				</rect>
			</svg>
		</div>
	</div>
	<img id="navi-search-search-window-icon" src="img/navi-search-search-window-icon.png" srcset="img/navi-search-search-window-icon.png 1x, img/navi-search-search-window-icon@2x.png 2x">
		
	<div id="Nom_">
		<span>Nom</span><br/>
	</div>
	<div id="Siege_">
		<span>Siege</span><br/>
	</div>
	<div id="Rsultats__2">
		<span>Résultats : 2</span>
	</div>
	<div id="Grille_de_rptition_2">
		<div id="Group_fu" class="">
			<img id="school-design-g67a4af841_1280" src="img/school-design-g67a4af841_1280.png" srcset="img/school-design-g67a4af841_1280.png 1x, img/school-design-g67a4af841_1280@2x.png 2x">
				
			<div id="Universit_1_">
				<span>Université 1</span><br/>
			</div>
			<div id="Description_de_luniversit">
				<span>Description de l'université</span>
			</div>
			<svg class="Rectangle_26">
				<rect id="Rectangle_26" rx="19" ry="19" x="0" y="0" width="75" height="38">
				</rect>
			</svg>
			<div id="Voir_plus">
				<span>Voir plus</span>
			</div>
			<svg class="Ligne_11" viewBox="0 0 1809 5">
				<path id="Ligne_11" d="M 0 0 L 1809 0">
				</path>
			</svg>
		</div>
		<div id="Group_f" class="">
			<img id="school-design-g67a4af841_1280_f" src="img/school-design-g67a4af841_1280_f.png" srcset="img/school-design-g67a4af841_1280_f.png 1x, img/school-design-g67a4af841_1280_f@2x.png 2x">
				
			<div id="Universit_2_">
				<span>Université 2</span><br/>
			</div>
			<div id="Description_de_luniversit_f">
				<span>Description de l'université</span>
			</div>
			<svg class="Rectangle_26_f">
				<rect id="Rectangle_26_f" rx="19" ry="19" x="0" y="0" width="75" height="38">
				</rect>
			</svg>
			<div id="Voir_plus_f">
				<span>Voir plus</span>
			</div>
			<svg class="Ligne_11_f" viewBox="0 0 1809 5">
				<path id="Ligne_11_f" d="M 0 0 L 1809 0">
				</path>
			</svg>
		</div>
	</div>
	<div id="Kante_Co_f">
		<span>Kante Co</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Composant_5__2" class="Composant_5___2">
		<div id="Acceuil_ga">
			<span>Acceuil</span>
		</div>
		<svg class="Ligne_1_gb" viewBox="0 0 43 1">
			<path id="Ligne_1_gb" d="M 0 0 L 43 0">
			</path>
		</svg>
	</div>
	<div id="Composant_6__2" class="Composant_6___2">
		<div id="Profil_gd">
			<span>Profil</span>
		</div>
		<svg class="Ligne_2_ge" viewBox="0 0 55 1">
			<path id="Ligne_2_ge" d="M 0 0 L 55 0">
			</path>
		</svg>
	</div>
	<div id="Composant_7__2" class="Composant_7___2">
		<div id="Nos_partenaires_gg">
			<span>Nos partenaires</span>
		</div>
		<svg class="Ligne_3_gh" viewBox="0 0 97 1">
			<path id="Ligne_3_gh" d="M 0 0 L 97 0">
			</path>
		</svg>
	</div>
	<div id="Composant_8__2" class="Composant_8___2">
		<div id="Contact_gj">
			<span>Contact</span>
		</div>
		<svg class="Ligne_4_gk" viewBox="0 0 45 1">
			<path id="Ligne_4_gk" d="M 0 0 L 45 0">
			</path>
		</svg>
	</div>
	<div id="Composant_9__2" class="Composant_9___2">
		<div id="Deconnexion_gm">
			<span>Deconnexion</span>
		</div>
		<svg class="Ligne_5_gn" viewBox="0 0 62 1">
			<path id="Ligne_5_gn" d="M 0 0 L 62 0">
			</path>
		</svg>
	</div>
	<img id="logo_go" src="img/logo_go.png" srcset="img/logo_go.png 1x, img/logo_go@2x.png 2x">
		
</div>
</body>
</html>